version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - .:/usr/src/app
    environment:
      - PYTHONUNBUFFERED=1
      - GEMINI_API_KEY=AIzaSyCwXkjaB2uXQSvgHNJzb2bJGerih5Ajm1k
      - INTERNAL_API_KEY=3fda8b27533c8f81f7c37cf72e11de35e266f549a6f62c68b583b0a91b5bb6eev