version: "3.8"

services:
  komplexai-app:
    container_name: komplexai-app
    image: komplexai-app:latest
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - .:/usr/src/app
    env_file:
      - .env
    environment:
      - PYTHONUNBUFFERED=1
